<!-- take this like an exmple . I know isn't good :) -->

<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-button [matMenuTriggerFor]="menu" >Menu</button>
      <mat-menu #menu="matMenu" color="primary">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile><mat-slide-toggle>Slide me!</mat-slide-toggle></mat-grid-tile>
  <mat-grid-tile><mat-slider></mat-slider></mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile><mat-checkbox>Check me!</mat-checkbox></mat-grid-tile>
</mat-grid-list>

<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>seed material example</span>
    </mat-toolbar-row>

    
<router-outlet></router-outlet>

